#main_pane {
    text-align: center;
}

#login_form_area {
    margin: 4em auto;
    width: 400px;
}


.dijitInputInner {
    height: 30px;
    text-align: center;
}

#auth_reset_pass {
    width: 400px;
    margin: 0 auto;
    background-color: #EDF6FF;
    padding: 3px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
