{% extends 'md_base.html' %}

{% load i18n %}
{% load staticfiles %}
{% load url from future %}

{% block pagetitle %} {% trans "Account" %}{% endblock %}

{% block subsection_js %}
    <script src="{% static 'md/js/account.js' %}" type="text/javascript"></script>
{% endblock %}


{% block subsection_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'md/css/account.css' %}"
{% endblock %}


{% block maincontent %}
<div data-dojo-type="dijit/layout/TabContainer" class="tabs_container"  tabPosition="left-h" id="account_tab_container">
    <div data-dojo-type="dijit/layout/ContentPane" title="{% trans 'Dashboard' %}" data-dojo-props="selected:true"
        id="tab_dashboard">
    </div>

    <div data-dojo-type="dijit/layout/ContentPane" title="{% trans 'OTP Enrollment' %}" data-dojo-props="closable:false"
         id="tab_otp_enrollment">
    </div>


    <div data-dojo-type="dijit/layout/ContentPane" title="{% trans 'Export Account' %}" data-dojo-props="closable:false"
        id="tab_export_settings">
    </div>


    <div data-dojo-type="dijit/layout/ContentPane" title="{% trans 'SMTP Accounts' %}" data-dojo-props="selected:true"
        id="tab_smtp_settings">
    </div>
</div>
{% endblock %}
