{% extends 'md_base.html' %}

{% load i18n %}
{% load staticfiles %}
{% load url from future %}

{% block pagetitle %} {% trans "Campaigns" %}{% endblock %}


{% block external_js %}
    <script src="{% static 'js/campaigns.js' %}" type="text/javascript"></script>
{% endblock %}

{% block maincontent %}
<div class="tabs_container">
	<div data-dojo-type="dijit/layout/TabContainer" style="width: 100%; height: 100%;" id="tab_campaigns"
		data-dojo-props="selected:true">

		<div data-dojo-type="dijit/layout/ContentPane" title="{% trans 'Overview' %}"
			 id="tab_camps_tab1">

			<h4 id="camps_grid_message">{% trans 'Current Campaigns' %}</h4>
			<div id="current_camps_grid" style=""></div>

			<h4 id="camps_grid_message">{% trans 'Old Campaigns' %}</h4>
			<div id="old_camps_grid" style=""></div>
        </div>

		<div data-dojo-type="dijit/layout/ContentPane" title="{% trans 'New Campaign' %}" id="tab_camps_tab2"
			href="{% url 'md:get_campaign_new_form' %}" refreshOnShow="true">
			{% comment %}
				The content is dynamically loaded from js
			{% endcomment %}
        </div>

	</div>
</div>

{% endblock %}
