{% extends 'md_base.html' %}

{% load i18n %}
{% load url from future %}
{% load staticfiles %}

{% block pagetitle %} {% trans "Lists" %}{% endblock %}

{% block maincontent %}
<div style="width: 350px; height: 300px">
LISTS
{% autoescape off %}
    {{ img }}
{% endautoescape %}
</div>
{% endblock %}

{% block external_js %}
    <script src="{% static 'md/md.js' %}"></script>
{% endblock %}