{% load url from future %}
{% load i18n %}

<div class="main_menu">
<ul>
    {% for mi in menu_items %}
        <li><a href="{{ mi.url }}" {% if mi.code == active_tab %} class="mn_selected" {% endif %}>{{ mi.name }}</a></li>
    {% endfor %}

    <li><a href={% url 'auth:logout' %}>{% trans 'Logout' %}</a></li>
</ul>

</div>

</div>
