{% extends 'md_base.html' %}

{% load i18n %}
{% load staticfiles %}
{% load url from future %}

{% block pagetitle %} {% trans "Lists" %}{% endblock %}


{% block external_js %}
    <script src="{% static 'js/templates.js' %}" type="text/javascript"></script>
{% endblock %}

{% block maincontent %}
<div class="tabs_container">
	<div data-dojo-type="dijit/layout/BorderContainer" title="{% trans 'Templates' %}" id="templates_container">
		<div data-dojo-type="dijit/layout/AccordionContainer" data-dojo-props="region:'leading'" style="width:40%">
			<div data-dojo-type="dijit/layout/ContentPane" title="{% trans 'Template List' %}" selected="true">
				<div id="templates_list_grid"></div>
				<div id="templates_msg"></div>
			</div>
			<div data-dojo-type="dijit/layout/ContentPane" title="{% trans 'Image Manager' %}" id="image_manager_pane">
				<div id="templates_fmg"></div>
			</div>
		</div>

		<div data-dojo-type="dijit/layout/ContentPane" data-dojo-props="region:'center'">
			<div>{% include 'md/forms/templates_addedit.html' %}</div>
		</div>

	</div>
</div>

{% endblock %}

