{% extends 'auth_base.html' %}

{% load url from future %}
{% load i18n %}

{% block pagetitle %}{% trans "Login" %}{% endblock %}

{% block maincontent %}
<div id="login_form_area">
    <h1>{% trans "MAILDUDE LOGIN" %}</h1>

    {% if form.errors %}
        <p>{% trans "Authentication failed" %}</p>
    {% endif %}

    <form method="post" action="{% url 'auth:login' %}" data-dojo-type="dijit/form/Form">

    <script type="dojo/on" data-dojo-event="submit">
        return this.validate();
    </script>

    {% csrf_token %}

    <table>
        <tr>
            <td><label for="username">{% trans "Your Name" %}</label></td>
            <td><input type="text" name="username" id="username" data-dojo-type="dijit/form/TextBox" /></td>
        </tr>

        <tr>
            <td><label for="password">{% trans "Password" %}</label></td>
            <td><input type="password" name="password" id="password" data-dojo-type="dijit/form/TextBox"/></td>
        </tr>
        <tr>
            <td><label for="otp_token">{% trans "OTP Token" %}</label></td>
            <td><input type="text" name="otp_token" id="otp_token" data-dojo-type="dijit/form/TextBox"/></td>
        </tr>
    </table>

    <button type="submit" data-dojo-type="dijit/form/Button">{% trans "Login" %}</button>
    </form>
</div>
{% endblock %}
