{% extends 'auth_base.html' %}

{% load url from future %}{% load i18n %}

{% block pagetitle %}{% trans "Password reset complete" %}{% endblock %}

{% block maincontent %}
<p>{% trans "Your password has been set.  You may go ahead and log in now." %}</p>

<p><a href="{{ login_url }}">{% trans 'Log in' %}</a></p>

{% endblock %}
