html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    overflow:hidden;
}


.tabs_container {
    width: 100%;
    min-height: 100%;
    height: 100%;
}

.layout_static_content {
    background-color: rgb(123,443,124)
}

