##########################################
### MAIN MENU GENERAL LAYOUT
##########################################

.main_menu {
    font-weight: bold;
    font-size: 1.2em;
}

.main_menu ul{
    border: 1px solid #BBB;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

.main_menu ul li{
    display: inline;
    margin:0;
    padding:0;
}

.main_menu ul li a{
    display:block;
    float:left;
    opacity: 0.6;
    text-transform: uppercase;
    color: #494949;
    padding: 8px 15px 8px 9px;
    margin: 0;
    text-decoration: none;
    border-right: 1px solid #BBB;
    padding-left: 35px;
    -moz-box-shadow: inset -7px 0 10px rgba(114,114,114, 0.4);
    -webkit-box-shadow: inset -7px 0 10px rgba(114,114,114, 0.4);
    box-shadow: inset -7px 0 10px rgba(114,114,114, 0.4);
    text-shadow: 0 -1px 1px #cfcfcf;
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}


.main_menu li:nth-of-type(1) a {
    border-left: 1px solid #BBB;
    background: url("/static/icons/dashboard.png") 1px center no-repeat;
}

.main_menu li:nth-of-type(2) a {
    background: url("/static/icons/campaigns.png") 1px center no-repeat;
}

.main_menu li:nth-of-type(3) a {
    background: url("/static/icons/lists.png") 1px center no-repeat;
}

.main_menu li:nth-of-type(4) a {
    background: url("/static/icons/templates.png") 1px center no-repeat;
}

.main_menu li:nth-of-type(5) a {
    background: url("/static/icons/reports.png") 1px center no-repeat;
}

.main_menu li:nth-of-type(6) a {
    background: url("/static/icons/myaccount.png") 1px center no-repeat;
}

.main_menu li:nth-of-type(7) a {
    background: url("/static/icons/logout.png") 1px center no-repeat;
}

.main_menu ul li a:hover{
    color: black;
    -moz-box-shadow: inset -4px 0 7px rgba(60,162,221, 0.4), inset 0 0 7px rgba(60,162,221, 0.6);
    -webkit-box-shadow: inset -4px 0 7px rgba(60,162,221, 0.4), inset 0 0 7px rgba(60,162,221, 0.6);
    box-shadow: inset -4px 0 7px rgba(60,162,221, 0.4), inset 0 0 7px rgba(60,162,221, 0.6);
    opacity: 1.0;
}

.main_menu ul li .mn_selected {
    opacity: 1.0;
}

.tabs_container {
    width: 95%; height: 100%; margin: 0 auto;
}