{% extends "template.html" %}

{% load staticfiles %}
{% load i18n %}
{% load url from future %}

{% block section_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'auth/auth.css' %}" />
{% endblock %}

{% block pagebody %}
    <div data-dojo-type="dijit/layout/BorderContainer" class="tabs_container">
        <div data-dojo-type="dijit/layout/ContentPane" data-dojo-props="region:'top'">
            {{ GL_APP_NAME|upper }} VER {{ GL_VERSION }}
        </div>

        <div data-dojo-type="dijit/layout/ContentPane" data-dojo-props="region:'center'" id="main_pane">
            {% block maincontent %}{% endblock %}
        </div>

        <div data-dojo-type="dijit/layout/ContentPane" data-dojo-props="region:'bottom'" align="center">
            <span>Copyright &copy; 2013 - 2014</span>
        </div>
    </div>
{% endblock %}
