{% comment %}
    STMP Form - Add / Edit STMP Email Account
{% endcomment %}

{% load i18n %}
{% load url from future %}

<form data-dojo-type="dijit/form/Form" name="frm_smtp_addedit" class=""
      id="add_edit_id_{{ list_id }}" method="post">
{% csrf_token %}

<h3 name="srv_msg" class="srv_msg"></h3>

<input type="hidden" name="id" data-dojo-type="dijit/form/TextBox" value={{ list_id }} />

<table>
    <tr>
        <td>{{ form.account_name.label_tag | title }}</td>
        <td>{{ form.account_name }}</td>
    </tr>
    <tr>
        <td>{{ form.host.label_tag | title }}</td>
        <td>{{ form.host }}</td>
        <td>{{ form.port.label_tag | title }}</td>
        <td>{{ form.port }}</td>
    </tr>
    <tr>
        <td>{{ form.username.label_tag | title }}</td>
        <td>{{ form.username }}</td>
    </tr>
    <tr>
        <td>{{ form.password.label_tag | title }}</td>
        <td>{{ form.password }}</td>
    </tr>
</table>

<button type="submit" data-dojo-type="dijit/form/Button">{% trans 'Save' %}</button>
</form>
