{% comment %}
    TAB - Export Settings
{% endcomment %}

{% load i18n %}


<div style="height: 300px">
    <div data-dojo-type="dijit/layout/AccordionContainer" style="height: 300px;">
        <div data-dojo-type="dijit/layout/ContentPane" title="Export Client Details">
            <p>{% trans 'Export Client Details' %}</p>

            <button data-dojo-type="dijit/form/Button" type="button" id="btn_xml_export_client">{% trans 'XML Export' %}</button>
            <button data-dojo-type="dijit/form/Button" type="button" id="btn_csv_export_client">{% trans 'CSV Export' %}</button>
        </div>
        <div data-dojo-type="dijit/layout/ContentPane" title="Export Users Details">
            <p>{% trans 'Export Users Details' %}</p>
            <button data-dojo-type="dijit/form/Button" type="button" id="btn_xml_export_users">{% trans 'XML Export' %}</button>
            <button data-dojo-type="dijit/form/Button" type="button" id="btn_csv_export_users">{% trans 'CSV Export' %}</button>
        </div>
    </div>
</div>