{% comment %}
    TAB - OTP Image and Controls
{% endcomment %}

{% load i18n %}
{% load staticfiles %}

{% autoescape off %}
    <img id="img_generate_otp" src="{% static 'img/qr_placeholder.png' %}">
{% endautoescape %}

<button id="btn_generate_otp" data-dojo-type="dijit/form/Button" type="button">{% trans 'Generate QR code' %}</button>
<button id="btn_verify_otp" data-dojo-type="dijit/form/Button" type="button">{% trans 'Verify OTP' %}</button>
<button id="btn_save_otp" data-dojo-type="dijit/form/Button" type="button">{% trans 'Save OTP' %}</button>
<button id="btn_cancel_otp_check" data-dojo-type="dijit/form/Button" type="button">{% trans 'Cancel OTP check' %}</button>