{% extends "template.html" %}

{% load staticfiles %}
{% load i18n %}
{% load url from future %}


{% block section_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'md/css/md.css' %}"
    <link rel="stylesheet" type="text/css" href="{% static 'dojox/editor/plugins/resources/css/Preview.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'dojox/editor/plugins/resources/editorPlugins.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'dojox/form/resources/FileUploader.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'dojox/editor/plugins/resources/css/LocalImage.css' %}" />
{% endblock %}


{% block pagebody %}
    <div data-dojo-type="dijit/layout/BorderContainer" class="tabs_container" data-dojo-props="gutters: false">
        <div data-dojo-type="dijit/layout/ContentPane" data-dojo-props="region:'top'" class="layout_static_content">
            <span id="time_spot"></span> {% trans "Logged as:" %} {{ user.username }}
        </div>

        <div data-dojo-type="dijit/layout/ContentPane" data-dojo-props="region:'center'" id="main_pane">
            {% block maincontent %}{% endblock %}
        </div>

        <div data-dojo-type="dijit/layout/ContentPane" data-dojo-props="region:'bottom', gutters: false">
            {% include 'md/navigation.html' %}
        </div>
    </div>
{% endblock %}

{% block section_js %}{% endblock %}
