<!DOCTYPE html>
{% load staticfiles %}

<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

    <meta charset="utf-8">
    <meta name="author" content="Cristian Năvălici">
    <title>MailDude-{% block pagetitle %}{% endblock %}</title>

    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'dijit/themes/claro/claro.css' %}" />

    <link rel="icon" href="{% static 'img/favicon.png' %}" type="image/png">

    <link href='http://fonts.googleapis.com/css?family=Roboto&subset=latin,latin-ext' rel='stylesheet' type='text/css'>

    {% comment %}
        make sure the css is after dojo.js loader
    {% endcomment %}

    <script src="{% static 'dojo/dojo.js' %}"
            data-dojo-config="async: true, parseOnLoad: true, isDebug:true, locale: 'en'">
    </script>

    {% block section_css %}{% endblock %}
    {% block subsection_css %}{% endblock %}
</head>

<body class="claro">
    <div id="loadingOverlay" class="pageOverlay"></div>

    <script>
    var overlay;
    require(["dojo/_base/declare","dojo/dom","dojo/dom-style", "dojo/_base/fx", "dojo/window", "dojo/dom-geometry"],
        function(declare, dom, domStyle, fx, win, domgeom) {
            var Overlay = declare(null, {
                overlayNode:null,
                constructor:function(){
                    // save a reference to the overlay
                    this.overlayNode = dom.byId("loadingOverlay");

                    /*var lo = dom.byId("loadingOverlayContent");
                    var ps = domgeom.position(lo, false);
                    var ws = win.getBox();

                    domStyle.set(lo, "top" , (ws.h/2-ps.h/2)+"px");
                    domStyle.set(lo, "left", (ws.w/2-ps.w/2)+"px");
                    domStyle.set(lo, "visibility" , "visible"); */
                },
                // called to hide the loading overlay
                endLoading:function(){
                    /*domStyle.set(this.overlayNode,'display','none');*/
                    // fade the overlay gracefully
                    fx.fadeOut({
                        node: this.overlayNode,
                        onEnd: function(node){
                            domStyle.set(node, 'display', 'none');
                        }
                    }).play();
                }
            });
            overlay = new Overlay();
        });
    </script>

    <script src="{% static 'js/maildude.js' %}"></script>
    <script src="{% static 'js/xregexp-min.js' %}"></script>

    {% block pagebody %}{% endblock %}
    {% block section_js %}{% endblock %}
    {% block subsection_js %}{% endblock %}
</body>
</html>
